<div class="id-card">

  <div class="id-card-section">
    <img class="logo-regular rounded"
      src="https://via.placeholder.com/150.png?text=Logo">
    <p class="symbol-tier">
      Tier
    </p>
  </div>

  <div class="id-card-section">
    <div class="comm-layout--vertical flex-centered">
      <p class="text-less-spacing">MEMBER SINCE</p>
      <p class="text-less-spacing">MM/YYYY</p>
    </div>

    <div class="comm-layout--vertical flex-centered">
      <p class="text-less-spacing">VALID TILL</p>
      <p class="text-less-spacing">MM/YYYY</p>
    </div>

    <div class="comm-layout--vertical flex-centered">
      <p class="text-less-spacing">MEMBER ID</p>
      <p class="text-less-spacing">XXXXXX</p>
    </div>
  </div>

  <div class="id-card-section">
    <p class="text-less-spacing">MEMBER NAME</p>
  </div>

  <!-- <div class="comm-layout--horizontal flex-centered flex-space-between">
    <img class="logo-regular rounded"
      src="https://via.placeholder.com/150.png?text=Logo">
    <p class="symbol-tier">
      Tier
    </p>
  </div>

  <div class="comm-layout--horizontal flex-space-between">
    <div class="comm-layout--vertical text-group">
      <p class="text-less-spacing">MEMBER SINCE</p>
      <p class="text-less-spacing">08/2020</p>
    </div>

    <div class="comm-layout--vertical text-group">
      <p class="text-less-spacing">VALID TILL</p>
      <p class="text-less-spacing">04/2021</p>
    </div>

    <div class="comm-layout--vertical text-group">
      <p class="text-less-spacing">MEMBER ID</p>
      <p class="text-less-spacing">001575</p>
    </div>
  </div>

  <div>
    CLAIRE JEDREK
  </div> -->
</div>