<div class="page-content">
  <div class="menu-section">
    <!-- site logo -->
    <img class="logo-regular link-style"
      src="../assets/images/icons/glyph-logo-black-150.png"
      routerLink=""
      (click)="closeMenu()">

    <div class="main-menu">
        <div class="content-desktop">
          <div class="menu-bar">
            <a class="link-style" routerLink="">About</a>
            <a class="link-style" routerLink="/activity">Activities</a>
            <a class="link-style" routerLink="">Locations</a>
            <a class="link-style" routerLink="">Contact Us</a>
            <a class="link-style" routerLink="/membership">Sign Up</a>
          </div>
        </div>
        <a class="link-button--orange"
          routerLink="/login">Login</a>
        <img class="tablet-button--regular content-tablet"
          src="../assets/images/icons/burger-menu.png"
          (click)="isMenuActive = !isMenuActive">
    </div>
  </div>
  <div class="blank"></div>

  <div *ngIf="isMenuActive" class="menu-overlay content-tablet">
    <a class="link-style" routerLink="/about"
      (click)="closeMenu()">About</a>
    <a class="link-style" routerLink="/activity"
      (click)="closeMenu()">Activities</a>
    <a class="link-style" routerLink=""
      (click)="closeMenu()">Locations</a>
    <a class="link-style" routerLink=""
      (click)="closeMenu()">Contact Us</a>
    <a class="link-style" routerLink="/membership"
      (click)="closeMenu()">Sign Up</a>
  </div>
  
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>