/* Requires: app-mobile.core.scss */

@media only screen and (min-width: 768px) {
  ::ng-deep .content-tablet {
    display: none;
  }

  ::ng-deep .content-desktop {
    display: block;
  }

  ::ng-deep .comm-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }

  ::ng-deep .comm-layout--horizontal {
    flex-direction: row;
  }
  
  ::ng-deep .comm-layout--horizontal-reverse {
    flex-direction: row-reverse;
  }

  ::ng-deep .col-1 {width: 8.33%;}
  ::ng-deep .col-2 {width: 16.66%;}
  ::ng-deep .col-3 {width: 25%;}
  ::ng-deep .col-4 {width: 33.33%;}
  ::ng-deep .col-5 {width: 41.66%;}
  ::ng-deep .col-6 {width: 50%;}
  ::ng-deep .col-7 {width: 58.33%;}
  ::ng-deep .col-8 {width: 66.66%;}
  ::ng-deep .col-9 {width: 75%;}
  ::ng-deep .col-10 {width: 83.33%;}
  ::ng-deep .col-11 {width: 91.66%;}
  ::ng-deep .col-12 {width: 100%;}
}