<div>

  <!-- intro -->
  <div class="comm-section col-12 col-s-12">
    <img class="banner" src="https://via.placeholder.com/1280x720.png?text=Banner">
    <div class="comm-layout--vertical">
      <h3 class="section-title">Glyph Community</h3>
      <p class="text-centered">We run activities and stuff. Sign up now!</p>
      <a class="link-button--orange" routerLink="/membership">Sign Up</a>
    </div>
  </div>

  <!-- description -->
  <div class="comm-section col-6 col-s-6">
    <h3 class="section-title">What do we provide in Glyph?</h3>
    <div class="comm-layout--vertical flex-centered">
      <div class="comm-layout--vertical flex-centered">
        <img class="logo-regular rounded" src="https://via.placeholder.com/300.png">
        <h3>Indoor & Outdoor Activities</h3>
      </div>

      <div class="comm-layout--vertical flex-centered">
        <img class="logo-regular rounded" src="https://via.placeholder.com/300.png">
        <h3>Practical Classes</h3>
      </div>
      
      <div class="comm-layout--vertical flex-centered">
        <img class="logo-regular rounded" src="https://via.placeholder.com/300.png">
        <h3>Child Development Lessons</h3>
      </div>
    </div>
  </div>

  <!-- membership -->
  <div class="comm-section col-6 col-s-6">
    <h2 class="section-title">Membership</h2>

    <div class="comm-layout">
      <div class="info-block">
        <div class="info-card bg-local--free-member">
          <h3>Free</h3>
          <h4>Membership</h4>
          <h4>PAY-AS-YOU-GO</h4>
          <p>Explore all activities</p>
        </div>
        <img class="img-background" src="https://via.placeholder.com/300.png?text=FREE">
      </div>

      <div class="info-block">
        <div class="info-card bg-local--subsidised-member">
          <h3>Subsidised</h3>
          <h4>Membership</h4>
          <h4>UP TO 80% SUBSIDY</h4>
          <p>Household income per capita < $3000</p>
        </div>
        <img class="img-background" src="https://via.placeholder.com/300.png?text=SUBSIDISED">
      </div>

      <div class="info-block">
        <div class="info-card bg-local--public-member">
          <h3>Public</h3>
          <h4>Membership</h4>
          <h4>SGD 100/month</h4>
          <p>The ultimate adventure</p>
        </div>
        <img class="img-background" src="https://via.placeholder.com/300.png?text=PUBLIC">
      </div>

      <a class="link-button--orange" routerLink="/membership">Register</a>
    </div>
  </div>

</div>