.infobox--membership {
  border: 1px solid black;
  transition: background-color 0.2s, transform 0.2s;
}

.infobox--membership:hover {
  cursor: pointer;
  background-color: rgb(255, 168, 69);
  background-color: rgba(255, 168, 69, 0.7);
  box-shadow: 0.4rem 0.4rem 1rem black;
  transform: scale(1.04);
}
